<br />

<div class="container">

     <strong><u><%= @user.full_name %></u> posts:</strong><br><br />
 <div>
  <span> <%= link_to "About user", users_posts_path(:user_id=>@user.id) %></span>
   <span> <%= link_to "new post", new_users_post_path(:user_id=>@user.id) %></span>
   <span> <%= link_to "Add friend", friendships_path(:friend_id=>@user.id), method: :post %></span>
 </div>
   <% @users_post.each do |userpost| %>
      <div class="well">
        <u><%= userpost.user.full_name %></u><br />
        <%= userpost.data %><br />
        <%= time_ago_in_words(userpost.created_at)+" "+"ago" %>
      </div>
  <%end%>



</div>

